[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
	ignore = dirty
[submodule "vim/bundle/EasyMotion"]
	path = vim/bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
	ignore = dirty
[submodule "vim/bundle/Gundo"]
	path = vim/bundle/Gundo
	url = https://github.com/vim-scripts/Gundo.git
	ignore = dirty
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/fugitive.vim"]
	path = vim/bundle/fugitive.vim
	url = https://github.com/vim-scripts/fugitive.vim.git
	ignore = dirty
[submodule "vim/bundle/surround.vim"]
	path = vim/bundle/surround.vim
	url = https://github.com/vim-scripts/surround.vim.git
	ignore = dirty
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/vim-scripts/neocomplcache.git
	ignore = dirty
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
	ignore = dirty
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
	ignore = dirty
[submodule "vim/bundle/fencview"]
	path = vim/bundle/fencview
	url = https://github.com/mbbill/fencview.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/aikinai/powerline
	branch = solarized
