[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
	ignore = dirty
[submodule "home/.vim/bundle/EasyMotion"]
	path = home/.vim/bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
	ignore = dirty
[submodule "home/.vim/bundle/Gundo"]
	path = home/.vim/bundle/Gundo
	url = https://github.com/vim-scripts/Gundo.git
	ignore = dirty
[submodule "home/.vim/bundle/L9"]
	path = home/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
	ignore = dirty
[submodule "home/.vim/bundle/fugitive.vim"]
	path = home/.vim/bundle/fugitive.vim
	url = https://github.com/vim-scripts/fugitive.vim.git
	ignore = dirty
[submodule "home/.vim/bundle/surround.vim"]
	path = home/.vim/bundle/surround.vim
	url = https://github.com/vim-scripts/surround.vim.git
	ignore = dirty
[submodule "home/.vim/bundle/neocomplcache"]
	path = home/.vim/bundle/neocomplcache
	url = https://github.com/vim-scripts/neocomplcache.git
	ignore = dirty
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "home/.vim/bundle/tcomment_vim"]
	path = home/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule "home/.vim/bundle/Align"]
	path = home/.vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
