[user]
	name = Alan
	email = alan.rogers@nst.nintendo.com

[core]
	excludesfile = ~/.gitignore
	editor = vim

[color]
	ui = true

[http]
	sslVerify = false

[merge]
	keepBackup = false;
	tool = p4merge

[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[diff]
	algorithm = patience
[difftool]
	prompt = false

[log]
	date = local
[push]
	default = simple
[git-p4]
	skipSubmitEdit = true
[alias]
    history = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
