[user]
	name = Alan Rogers
	email = alanrogers@google.com

[core]
	excludesfile = ~/.gitignore
	editor = vim

[color]
	ui = true

[merge]
	keepBackup = false;
	tool = p4merge

[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/Resources/launchp4merge
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[diff]
	algorithm = patience
[difftool]
	prompt = false

[log]
	date = local
[push]
	default = simple
[git-p4]
	skipSubmitEdit = true
[alias]
    history = log --graph --full-history --branches --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
[url "https://github.com/"]
	insteadOf = git://github.com/
